//默认的标题栏高度
$navHeight: 5rem;

//admin页面深色背景
$admin-dark-bg: #23282D;

//admin页面浅色背景
$admin-light-bg: #32373C;

//admin
$admin-light-panel-bg: #464B4F;

//admin页面分割边栏颜色
$admin-hr-bg: #101920;

//暗绿色
$admin-dark-green: #27ae60;

@mixin admin-main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 2rem;
    padding: 2rem 0 2rem 4rem;
    font-weight: bolder;
    flex-grow: 0;
    color: white;
  }
}

