@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o0rtbl');
  src:  url('fonts/icomoon.eot?o0rtbl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o0rtbl') format('truetype'),
    url('fonts/icomoon.woff?o0rtbl') format('woff'),
    url('fonts/icomoon.svg?o0rtbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-images:before {
  content: "\e90e";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}

